<div class="form-group{% if property.required %} required{% endif %}">
	<label for="{{ property.name }}" class="col-sm-2 control-label">{{ property.description }}</label>
	<div class="col-sm-10">
		<select class="form-control select2" id="{{ property.name }}" name="{{ property.name }}"{% if property.required %} required="required"{% endif %}>
{% for key,option in property.options %}
			<option value="{{ key }}"{% if bean[property.name] == key %} selected="selected"{% endif %}>{{ option.name }}</option>
{% endfor %}
		</select>
	</div>
</div>